article.card {
    height: 415px;
    width: 200px;
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    padding-bottom: 10px;
    border: solid 2px black;
    border-radius: 3px;

    .title {
        margin: 10px 0 3px 0;
    }
    .title:hover {
        cursor: pointer;
    }

    .rating {
        margin: 0 0 3px 0;
    }

    transition: 0.5s;
}
article.card:hover {
    cursor: pointer;
    justify-content: center;
    height: 450px;
    width: 250px;

    img#poster {
        border: 1px solid rgb(94, 234, 234);
    }
}