header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: aquamarine;

    padding: 40px;
    border-bottom: 1px solid black;

    #sideIcon {
        position: absolute;
        left: 0;
    }
    sideIcon:focus,
    sideIcon:hover {
        cursor: pointer;
    }

    #logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}