main {
    /* Magic number found to abandon the "side" when gauging responsiveness on smaller screens*/
    @media screen and (min-width: 453px) {
        display: flex;
        flex-direction: row;
    }
    min-height: 86vh;

    nav {
        position: sticky;
    }

    .primary {
        justify-content: center;
        align-content: center;

        #cardList {
            min-width: 167vh;
        }
    }
    
    border-bottom: 1px solid black;
}   