main {
    /* Magic number found to abandon the "side" when gauging responsiveness on smaller screens*/
    @media screen and (min-width: 453px) {
        display: flex;
        flex-direction: row;
    }
    min-height: 82vh;

    nav {
        /* TODO Stretch: Make sticky navbar */
        position: sticky;
    }

    .primary {
        min-width: 94%;
    }
    
    border-bottom: 1px solid black;
}   