nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 10px 50px;

    background-color: rgb(94, 234, 234);
    padding: 20px;
    border-bottom: 1px solid black;
    margin: 0 0 20px 0;

    form {
        display: flex;
        gap: 10px;
    }
}