.Personals {
    img#favorite,
    img#watched {
        height: 30px;
        width: 30px;
    }

    img:focus,
    img:hover {
        cursor: pointer;
    }

    transition: 0.3s;
}
.Personals:hover {
    border: 1px solid rgb(94, 234, 234);
    border-radius: 3px;
}