.sidebar {
    display: flex;
    flex-flow: column wrap;
    /* Magic number found to abandon the "side" when gauging responsiveness on smaller screens*/
    @media screen and (min-width: 453px) {
        gap: 60px;
        padding: 0 10px 0 10px;
    }
    justify-content: center;
    background-color: aquamarine;
    border-right: 1px solid black;
}